# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Logs
*.log

# Environment variables
.env
.env.*

# PyInstaller
*.spec

# Local config
*.local

# Misc
*.bak
*.swp
*.swo

#SQLite database files
*.sqlite3
*.db

#service files
service-account.json

# Configuration files
domain_config.json

# domains files
domains.json